
# Keep log files
!data/logs/
!data/logs/
data/

tests/
notebooks/
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

# End of https://www.toptal.com/developers/gitignore/api/python

src/utils/models/depth_anything_v2
tests/*
data/test_pipeline_001_rellis.png
data/out/rugd_gt.png
data/out/rellis_00000/frame000012.jpg
data/out/rellis_00000/frame000018.jpg
data/out/rellis_00000/frame000020.jpg
data/out/rellis_00000/frame000022.jpg
data/out/rellis_00000/frame000028.jpg
data/out/rellis_00000/frame000030.jpg
data/out/rellis_00000/frame000042.jpg
data/out/rellis_00000/frame000046.jpg
data/out/rellis_00000/frame000052.jpg
data/out/rellis_00000/frame000056.jpg
data/out/rellis_00000/frame000058.jpg
data/out/rellis_00000/frame000074.jpg
data/out/rellis_00000/frame000076.jpg
data/out/rellis_00000/frame000080.jpg
data/out/rellis_00000/frame000082.jpg
data/out/rellis_00000/frame000090.jpg
data/out/rellis_00000/frame000094.jpg
data/out/rellis_00000/frame000108.jpg
data/out/rellis_00000/frame000120.jpg
data/out/rellis_00000/frame000128.jpg
data/out/rellis_00000/frame000134.jpg
data/out/rellis_00000/frame000136.jpg
data/out/rellis_00000/frame000138.jpg
data/out/rellis_00000/frame000164.jpg
data/out/rellis_00000/frame000168.jpg
data/out/rellis_00000/frame000180.jpg
data/out/rellis_00000/frame000182.jpg
data/out/rellis_00000/frame000194.jpg
data/out/rellis_00000/frame000196.jpg
data/out/rellis_00000/frame000198.jpg
data/out/rellis_00000/frame000206.jpg
data/out/rellis_00000/frame000208.jpg
data/out/rellis_00000/frame000210.jpg
data/out/rellis_00000/frame000216.jpg
data/out/rellis_00000/frame000224.jpg
data/out/rellis_00000/frame000236.jpg
data/out/rellis_00000/frame000238.jpg
data/out/rellis_00000/frame000250.jpg
data/out/rellis_00000/frame000284.jpg
data/out/rellis_00000/frame000296.jpg
data/out/rellis_00000/frame000304.jpg
data/out/rellis_00000/frame000306.jpg
data/out/rellis_00000/frame000310.jpg
data/out/rellis_00000/frame000316.jpg
data/out/rellis_00000/frame000318.jpg
data/out/rellis_00000/frame000320.jpg
data/out/rellis_00000/frame000324.jpg
data/out/rellis_00000/frame000326.jpg
data/out/rellis_00000/frame000328.jpg
data/out/rellis_00000/frame000332.jpg
data/out/rellis_00000/frame000334.jpg
data/out/rellis_00000/frame000338.jpg
data/out/rellis_00000/frame000340.jpg
data/out/rellis_00000/frame000348.jpg
data/out/rellis_00000/frame000350.jpg
data/out/rellis_00000/frame000370.jpg
data/out/rellis_00000/frame000372.jpg
data/out/rellis_00000/frame000384.jpg
data/out/rellis_00000/frame000388.jpg
data/out/rellis_00000/frame000394.jpg
data/out/rellis_00000/frame000408.jpg
data/out/rellis_00000/frame000410.jpg
data/out/rellis_00000/frame000416.jpg
data/out/rellis_00000/frame000428.jpg
data/out/rellis_00000/frame000430.jpg
data/out/rellis_00000/frame000436.jpg
data/out/rellis_00000/frame000438.jpg
data/out/rellis_00000/frame000440.jpg
data/out/rellis_00000/frame000460.jpg
data/out/rellis_00000/frame000478.jpg
data/out/rellis_00000/frame000484.jpg
data/out/rellis_00000/frame000490.jpg
data/out/rellis_00000/frame000494.jpg
data/out/rellis_00000/frame000496.jpg
data/out/rellis_00000/frame000498.jpg
data/out/rellis_00000/frame000508.jpg
data/out/rellis_00000/frame000518.jpg
data/out/rellis_00000/frame000520.jpg
data/out/rellis_00000/frame000526.jpg
data/out/rellis_00000/frame000530.jpg
data/out/rellis_00000/frame000554.jpg
data/out/rellis_00000/frame000564.jpg
data/out/rellis_00000/frame000566.jpg
data/out/rellis_00000/frame000590.jpg
data/out/rellis_00000/frame000594.jpg
data/out/rellis_00000/frame000615.jpg
data/out/rellis_00000/frame000621.jpg
data/out/rellis_00000/frame000623.jpg
data/out/rellis_00000/frame000625.jpg
data/out/rellis_00000/frame000627.jpg
data/out/rellis_00000/frame000631.jpg
data/out/rellis_00000/frame000651.jpg
data/out/rellis_00000/frame000655.jpg
data/out/rellis_00000/frame000661.jpg
data/out/rellis_00000/frame000665.jpg
data/out/rellis_00000/frame000671.jpg
data/out/rellis_00000/frame000677.jpg
data/out/rellis_00000/frame000685.jpg
data/out/rellis_00000/frame000687.jpg
data/out/rellis_00000/frame000689.jpg
data/out/rellis_00000/frame000711.jpg
data/out/rellis_00000/frame000713.jpg
data/out/rellis_00000/frame000729.jpg
data/out/rellis_00000/frame000741.jpg
data/out/rellis_00000/frame000759.jpg
data/out/rellis_00000/frame000765.jpg
data/out/rellis_00000/frame000775.jpg
data/out/rellis_00000/frame000777.jpg
data/out/rellis_00000/frame000779.jpg
data/out/rellis_00000/frame000807.jpg
data/out/rellis_00000/frame000823.jpg
data/out/rellis_00000/frame000827.jpg
data/out/rellis_00000/frame000847.jpg
data/out/rellis_00000/frame000855.jpg
data/out/rellis_00000/frame000857.jpg
data/out/rellis_00000/frame000859.jpg
data/out/rellis_00000/frame000893.jpg
data/out/rellis_00000/frame000897.jpg
data/out/rellis_00000/frame000901.jpg
data/out/rellis_00000/frame000903.jpg
data/out/rellis_00000/frame000905.jpg
data/out/rellis_00000/frame000911.jpg
data/out/rellis_00000/frame000915.jpg
data/out/rellis_00000/frame000917.jpg
data/out/rellis_00000/frame000931.jpg
data/out/rellis_00000/frame000933.jpg
data/out/rellis_00000/frame000935.jpg
data/out/rellis_00000/frame000959.jpg
data/out/rellis_00000/frame000961.jpg
data/out/rellis_00000/frame000969.jpg
data/out/rellis_00000/frame000977.jpg
data/out/rellis_00000/frame000981.jpg
data/out/rellis_00000/frame000983.jpg
data/out/rellis_00000/frame000987.jpg
data/out/rellis_00000/frame000989.jpg
data/out/rellis_00000/frame000997.jpg
data/out/rellis_00000/frame000999.jpg
data/out/rellis_00000/frame001005.jpg
data/out/rellis_00000/frame001007.jpg
data/out/rellis_00000/frame001013.jpg
data/out/rellis_00000/frame001015.jpg
data/out/rellis_00000/frame001019.jpg
data/out/rellis_00000/frame001029.jpg
data/out/rellis_00000/frame001031.jpg
data/out/rellis_00000/frame001039.jpg
data/out/rellis_00000/frame001063.jpg
data/out/rellis_00000/frame001071.jpg
data/out/rellis_00000/frame001075.jpg
data/out/rellis_00000/frame001081.jpg
data/out/rellis_00000/frame001085.jpg
data/out/rellis_00000/frame001089.jpg
data/out/rellis_00000/frame001091.jpg
data/out/rellis_00000/frame001093.jpg
data/out/rellis_00000/frame001095.jpg
data/out/rellis_00000/frame001099.jpg
data/out/rellis_00000/frame001105.jpg
data/out/rellis_00000/frame001107.jpg
data/out/rellis_00000/frame001109.jpg
data/out/rellis_00000/frame001131.jpg
data/out/rellis_00000/frame001143.jpg
data/out/rellis_00000/frame001155.jpg
data/out/rellis_00000/frame001157.jpg
data/out/rellis_00000/frame001159.jpg
data/out/rellis_00000/frame001171.jpg
data/out/rellis_00000/frame001177.jpg
data/out/rellis_00000/frame001185.jpg
data/out/rellis_00000/frame001193.jpg
data/out/rellis_00000/frame001195.jpg
data/out/rellis_00000/frame001199.jpg
data/out/rellis_00000/frame001209.jpg
data/out/rellis_00000/frame001213.jpg
data/out/rellis_00000/frame001215.jpg
data/out/rellis_00000/frame001219.jpg
data/out/rellis_00000/frame001223.jpg
data/out/rellis_00000/frame001239.jpg
data/out/rellis_00000/frame001243.jpg
data/out/rellis_00000/frame001247.jpg
data/out/rellis_00000/frame001249.jpg
data/out/rellis_00000/frame001253.jpg
data/out/rellis_00000/frame001257.jpg
data/out/rellis_00000/frame001261.jpg
data/out/rellis_00000/frame001269.jpg
data/out/rellis_00000/frame001271.jpg
data/out/rellis_00000/frame001287.jpg
data/out/rellis_00000/frame001299.jpg
data/out/rellis_00000/frame001307.jpg
data/out/rellis_00000/frame001313.jpg
data/out/rellis_00000/frame001315.jpg
data/out/rellis_00000/frame001321.jpg
data/out/rellis_00000/frame001343.jpg
data/out/rellis_00000/frame001361.jpg
data/out/rellis_00000/frame001367.jpg
data/out/rellis_00000/frame001379.jpg
data/out/rellis_00000/frame001391.jpg
data/out/rellis_00000/frame001393.jpg
data/out/rellis_00000/frame001395.jpg
data/out/rellis_00000/frame001407.jpg
data/out/rellis_00000/frame001409.jpg
data/out/rellis_00000/frame001415.jpg
data/out/rellis_00000/frame001423.jpg
data/out/rellis_00000/frame001431.jpg
data/out/rellis_00000/frame001433.jpg
data/out/rellis_00000/frame001437.jpg
data/out/rellis_00000/frame001445.jpg
data/out/rellis_00000/frame001447.jpg
data/out/rellis_00000/frame001455.jpg
data/out/rellis_00000/frame001461.jpg
data/out/rellis_00000/frame001469.jpg
data/out/rellis_00000/frame001485.jpg
data/out/rellis_00000/frame001489.jpg
data/out/rellis_00000/frame001493.jpg
data/out/rellis_00000/frame001497.jpg
data/out/rellis_00000/frame001511.jpg
data/out/rellis_00000/frame001513.jpg
data/out/rellis_00000/frame001517.jpg
data/out/rellis_00000/frame001525.jpg
data/out/rellis_00000/frame001531.jpg
data/out/rellis_00000/frame001533.jpg
data/out/rellis_00000/frame001537.jpg
data/out/rellis_00000/frame001543.jpg
data/out/rellis_00000/frame001545.jpg
data/out/rellis_00000/frame001549.jpg
data/out/rellis_00000/frame001551.jpg
data/out/rellis_00000/frame001555.jpg
data/out/rellis_00000/frame001565.jpg
data/out/rellis_00000/frame001567.jpg
data/out/rellis_00000/frame001577.jpg
data/out/rellis_00000/frame001591.jpg
data/out/rellis_00000/frame001597.jpg
data/out/rellis_00000/frame001605.jpg
data/out/rellis_00000/frame001617.jpg
data/out/rellis_00000/frame001625.jpg
data/out/rellis_00000/frame001637.jpg
data/out/rellis_00000/frame001639.jpg
data/out/rellis_00000/frame001645.jpg
data/out/rellis_00000/frame001647.jpg
data/out/rellis_00000/frame001649.jpg
data/out/rellis_00000/frame001655.jpg
data/out/rellis_00000/frame001659.jpg
data/out/rellis_00000/frame001671.jpg
data/out/rellis_00000/frame001673.jpg
data/out/rellis_00000/frame001679.jpg
data/out/rellis_00000/frame001681.jpg
data/out/rellis_00000/frame001683.jpg
data/out/rellis_00000/frame001713.jpg
data/out/rellis_00000/frame001715.jpg
data/out/rellis_00000/frame001723.jpg
data/out/rellis_00000/frame001737.jpg
data/out/rellis_00000/frame001745.jpg
data/out/rellis_00000/frame001747.jpg
data/out/rellis_00000/frame001783.jpg
data/out/rellis_00000/frame001799.jpg
data/out/rellis_00000/frame001809.jpg
data/out/rellis_00000/frame001815.jpg
data/out/rellis_00000/frame001817.jpg
data/out/rellis_00000/frame001819.jpg
data/out/rellis_00000/frame001825.jpg
data/out/rellis_00000/frame001845.jpg
data/out/rellis_00000/frame001849.jpg
data/out/rellis_00000/frame001861.jpg
data/out/rellis_00000/frame001865.jpg
data/out/rellis_00000/frame001867.jpg
data/out/rellis_00000/frame001875.jpg
data/out/rellis_00000/frame001881.jpg
data/out/rellis_00000/frame001893.jpg
data/out/rellis_00000/frame001897.jpg
data/out/rellis_00000/frame001909.jpg
data/out/rellis_00000/frame001913.jpg
data/out/rellis_00000/frame001917.jpg
data/out/rellis_00000/frame001929.jpg
data/out/rellis_00000/frame001935.jpg
data/out/rellis_00000/frame001943.jpg
data/out/rellis_00000/frame001945.jpg
data/out/rellis_00000/frame001951.jpg
data/out/rellis_00000/frame001959.jpg
data/out/rellis_00000/frame001963.jpg
data/out/rellis_00000/frame001977.jpg
data/out/rellis_00000/frame001979.jpg
data/out/rellis_00000/frame001981.jpg
data/out/rellis_00000/frame001989.jpg
data/out/rellis_00000/frame001997.jpg
data/out/rellis_00000/frame002013.jpg
data/out/rellis_00000/frame002015.jpg
data/out/rellis_00000/frame002019.jpg
data/out/rellis_00000/frame002021.jpg
data/out/rellis_00000/frame002031.jpg
data/out/rellis_00000/frame002049.jpg
data/out/rellis_00000/frame002051.jpg
data/out/rellis_00000/frame002053.jpg
data/out/rellis_00000/frame002065.jpg
data/out/rellis_00000/frame002069.jpg
data/out/rellis_00000/frame002083.jpg
data/out/rellis_00000/frame002089.jpg
data/out/rellis_00000/frame002109.jpg
data/out/rellis_00000/frame002111.jpg
data/out/rellis_00000/frame002115.jpg
data/out/rellis_00000/frame002117.jpg
data/out/rellis_00000/frame002121.jpg
data/out/rellis_00000/frame002123.jpg
data/out/rellis_00000/frame002135.jpg
data/out/rellis_00000/frame002141.jpg
data/out/rellis_00000/frame002143.jpg
data/out/rellis_00000/frame002145.jpg
data/out/rellis_00000/frame002147.jpg
data/out/rellis_00000/frame002157.jpg
data/out/rellis_00000/frame002169.jpg
data/out/rellis_00000/frame002177.jpg
data/out/rellis_00000/frame002205.jpg
data/out/rellis_00000/frame002219.jpg
data/out/rellis_00000/frame002253.jpg
data/out/rellis_00000/frame002263.jpg
data/out/rellis_00000/frame002267.jpg
data/out/rellis_00000/frame002271.jpg
data/out/rellis_00000/frame002273.jpg
data/out/rellis_00000/frame002287.jpg
data/out/rellis_00000/frame002289.jpg
data/out/rellis_00000/frame002291.jpg
data/out/rellis_00000/frame002295.jpg
data/out/rellis_00000/frame002301.jpg
data/out/rellis_00000/frame002307.jpg
data/out/rellis_00000/frame002315.jpg
data/out/rellis_00000/frame002321.jpg
data/out/rellis_00000/frame002337.jpg
data/out/rellis_00000/frame002349.jpg
data/out/rellis_00000/frame002351.jpg
data/out/rellis_00000/frame002355.jpg
data/out/rellis_00000/frame002359.jpg
data/out/rellis_00000/frame002365.jpg
data/out/rellis_00000/frame002367.jpg
data/out/rellis_00000/frame002375.jpg
data/out/rellis_00000/frame002387.jpg
data/test/bottle-001.jpg
data/test/dara-004.jpg
data/test/depth_anything_v2_metric_vkitti_vitl.pth
data/test/gara-001.jpg
data/test/gara-002.jpg
data/test/gara-003.jpg
data/test/iriunwebcam-2.8.3.deb
data/test/Rellis_3D_ontology.zip
data/ui/index.html
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/2c2130b544c0c5a72d5d00da071ba130a9800fb2.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/9c1a3a8693f29070857102aea691cadcb7e8a806.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/30fe86be4cc83725316cbc68ed8c78f9d1483642.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/76e821f1b6f0a9709293c3b6b51ed90980b3166b.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/446c39016ef7112b9ace812c98641502da0193d1.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/469be27c5c010538f845f518c4f5e8574c78f7c8.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/d00ca85d6b859f9d07b7cfb8ef26fe9771cb275b34c9368f2ecf603139307f55.lock
data/weights/clipseg/.locks/models--CIDAS--clipseg-rd64-refined/dd9308225b8314bb7236f207e6ea72b22db5d90dba03fe3dc7d654f54dcfd08a.lock
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/added_tokens.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/chat_template.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/model.safetensors
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/model.safetensors.index.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/processor_config.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/.no_exist/583b388deb98a04feb3e1f816dcdb8f3062ee205/tokenizer.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/2c2130b544c0c5a72d5d00da071ba130a9800fb2
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/9c1a3a8693f29070857102aea691cadcb7e8a806
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/30fe86be4cc83725316cbc68ed8c78f9d1483642
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/76e821f1b6f0a9709293c3b6b51ed90980b3166b
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/446c39016ef7112b9ace812c98641502da0193d1
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/469be27c5c010538f845f518c4f5e8574c78f7c8
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/d00ca85d6b859f9d07b7cfb8ef26fe9771cb275b34c9368f2ecf603139307f55
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/blobs/dd9308225b8314bb7236f207e6ea72b22db5d90dba03fe3dc7d654f54dcfd08a
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/refs/main
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/refs/refs/pr/5
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/325a839908143a34b409ae6f2910fa015ea390e6/model.safetensors
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/config.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/merges.txt
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/preprocessor_config.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/pytorch_model.bin
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/special_tokens_map.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/tokenizer_config.json
data/weights/clipseg/models--CIDAS--clipseg-rd64-refined/snapshots/583b388deb98a04feb3e1f816dcdb8f3062ee205/vocab.json
data/weights/depth_anything_v2/depth_anything_v2_metric_small.pth
data/weights/depth_anything_v2/depth_anything_v2_outdoor_large.pth
